* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 260px;
    gap: 24px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 156px;
}

.gallery-item {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5),
                0 8px 16px rgba(0, 0, 0, 0.5);
}

.gallery-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 500ms ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.gallery-link:hover {
    cursor: url("../images/bxs_hand-down.png"), pointer;
}

.large-image {
    border-radius: 50px;
    object-fit: contain;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    animation: fadeInImage 0.9s ease-in-out;
    animation-fill-mode: both;
    will-change: transform, opacity;
}

.gallery-image:focus,
.large-image:focus {
    outline: none;
}

.modal-content {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
    min-width: 320px;
    max-width: 1440px;
}

.modal-caption {
    position: absolute;
    bottom: 0px;
    left: 44%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 90%;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border-radius: 8px;
    animation: fadeInUp 0.9s ease-in-out;
    animation-fill-mode: both;
    will-change: transform, opacity;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInImage {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}